/*                General Typography        */

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,700&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');


body {
  font-size: 62.5%;
}


h1,
h2,
h3,
h4,
.nav-item {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2.4rem;
  font-weight: 500;
}

h3,
.nav-item {
  font-size: 1.29rem;
  font-weight: 500;
}

h4 {
  font-size: 1rem;
  font-weight: 500;
}

p {
  font-family: 'Lora', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2;
}

strong {
  font-weight: 900;
}

/*       sections */

section {
  padding: 30px 5px;
}

/*                                   Navbar           */

.logo {
  width: 194px;
  height: 150px;
}


.callout {
  height: 70vh;
  /* https://www.pexels.com/photo/person-playing-string-instruments-144428/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels */
  /* Photo by Suvan Chowdhury from Pexels */
  background: url(../images/heroimage.webp) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.callout-container {
  max-width: 600px;
  color: #fafafa;
  margin: 50x 0px;
}

/*                                      About           */

.about {
  text-align: center;
  width: 95%;
  margin: 10px auto;


}

#about-paragraph {
  margin-top: 50px;
}


.display-none {
  display: none;
}

.grid-col-one h1,
.grid-col-one p {
  text-align: center;
}



@media screen and (min-width: 1225px) {
  .about-grid-container {
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: 50% 50%;
    margin: auto 20px;
    max-width: 1800px;
  }

  #about-title-row {
    grid-column: 1 / 3;
  }


  .display-none {
    display: block;
  }

  .grid-col-one {
    width: 90%;
    height: 90%;
    margin: 20px 30px;
  }

  #about-paragraph,
  .about-img {
    width: 80%;
    height: 80%;
    margin: 50px auto;
  }

  .grid-col-one {
    height: 100%;
  }

  .grid-col-one h1 {
    margin: 40px auto 0;
  }
}


/* links */
a {
  text-decoration: 0;
}

.link-arrow {
  padding-top: 10px;
  color: black;
  font-weight: bold;
  font-size: 2rem;
}

.link-arrow::after {
  content: '\2192';
  font-size: 20px;
  margin-left: 8px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 14px;
}

/*                                      Showcase Feature */

/* Showcase Cards */
#showcase {
  background-color: #212529;
}

.showcase {
  width: 100%;
  padding: 30px 0 20px;
}

.showcase-grid-container {
  width: 90%;
  display: -ms-inline-grid;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
}


/* dropshadow information found https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/drop-shadow() */

.showcase-card {
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 390px;
  background-color: white;
  filter: drop-shadow(1px 1px 10px black);
  border-radius: 10px;
  margin: 0 auto;
  padding-top: 20px;
}

.showcase-card-main {
  height: 250px;
  width: 90%;
  margin: 0px auto;
  box-shadow: inset 0 0 10px #000000;
  background: lightgrey;
  overflow: hidden;
}

#main-showreel-video {
  width: 100%;
  height: 100%;
  margin: 0;
}

showcase-card-main #tracks iframe {
  width: 100%;
  height: 100%;
  padding: 2px 1px;
}


/* box shadow on one side of a div solution found https://stackoverflow.com/questions/5115427/how-can-i-add-a-box-shadow-on-one-side-of-an-element */
.showcase-card-footer {
  justify-self: end;
}

.showcase-card-footer h2 {
  padding: 15px;
}

.showcase-card-footer button {
  width: 100%;
  background: white;
  border: 0;
  border-radius: 10px;
}


.gallery {
  box-shadow: none;
  background-color: white;
  overflow: hidden;
}

#gallery img {
  display: inline;
  height: 100%;
  width: 400px;
  margin: 0;
  padding: 0 5px;
}

/* showcase section for tablet */
@media screen and (min-width: 768px) {
  .showcase-grid-container {
    display: grid;
    grid-template-rows: 400px 400px 400px;
    grid-template-columns: 50% 50%;
  }

  #tracks,
  #videos {
    width: 90%;
    margin: 0 auto;
  }

  #songs {
    grid-row: 1;
    grid-column: 1/3;
  }

  #tracks {
    grid-row: 2;
    grid-column: 1;
  }

  #videos {
    grid-row: 2;
    grid-column: 2;
  }

  #gallery {
    grid-row: 3;
    grid-column: 1/3;
    margin-top: 10px;
  }

}

/* showcase desktop */

@media screen and (min-width: 1020px) {
  .showcase-grid-container {
    padding-top: 20px;
    display: grid;
    grid-template-rows: 400px 400px;
    grid-template-columns: 33% 33% 33%;
  }

  #songs {
    grid-row: 1;
    grid-column: 1;
    width: 90%;
  }

  #tracks {
    grid-row: 1;
    grid-column: 2;
    margin: 0 auto;
  }

  #videos {
    grid-row: 1;
    grid-column: 3;
  }

  #gallery {
    grid-row: 2;
    grid-column: 1/4;
    margin-top: 10px;
  }


}


/* Table Styles */


/* taken from https://www.w3.org/Style/Examples/007/evenodd.en.html */

.showcase-card-main table {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
}

.showcase-card-main table tr:nth-child(odd) {
  background: grey;
  color: white;
}

.showcase-card-main thead tr td {
  font-weight: 700;
  padding: 5px 0;
  background: white;
  color: black;
}

.showcase-card-main td {
  border: 1px solid black;
}

/*                                     Availability Section */

/* #about-section {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23E571AC'/%3E%3Cstop offset='1' stop-color='%23F1B580'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
  background-attachment: fixed;
} */



.display-none-md,
.display-none-lg {
  display: none;
}

.avaiablity-contianer {
  padding: 20px 0 20px 0;
}

.availability-footer {
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .display-none-md {
    display: block;
  }

  .avaiability-grid-container {
    display: grid;
    grid-template-columns: 33% 34% 33%;
  }

  #get-in-touch-grid-change {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

@media screen and (min-width: 1000px) {
  .display-none-md {
    display: none;
  }

  .display-none-lg {
    display: inline;
  }

  #get-in-touch-grid-change {
    display: grid;
    grid-template-columns: 33% 34% 33%;
  }

}

#get-in-touch {
  background-color: lightgrey;
}


/*       Buttons          */

.btn-main {
  background-color: #212529;
  border: #212529;
}

.btn-main:hover {
  background-color: #303d50;
}

.btn-social {
  margin-left: 10px;
}

/*        Footer         */

footer {
  clear: both;
  background-color: #212529;
  color: #fafafa;
  padding: 20px 0 50px 0;
}

footer h3 {
  margin: 15px;
}

#footer-logo {
  margin-bottom: 50px;
}

.footer-grid-container {
  display: -ms-inline-grid;
  padding-top: 20px;
}

.align-contacts {
  margin-left: 10px;

}

.social-links {
  padding-bottom: 15px;
}

.contact-icons,
.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 1.4rem;
  line-height: 7px;
  text-align: center;
  color: #fafafa;
  background: #96999a;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.contact-icons:hover,
.social-links li a i:hover {
  background-color: #fafafa;
}

.contact-icons:hover,
.social-links i:hover {
  color: #96999a;
}

.contact-detail {
  font-size: 1.2rem;
}

.copywrite {
  display: none;
}

.contact-divide-grid {
  width: 80%;
  display: grid;
  grid-template-rows: 75% 15%;
  grid-template-columns: 50% 50%;
}

.contact-divide-grid-right {
  text-align: left;
  margin-left: 10px;
}

.contact-divide-grid-left {
  text-align: right;
  margin-right: 10px;
}


@media screen and (min-width: 768px) {
  .footer-grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }

  .copywrite-for-small-screen {
    display: none;
  }

  .footer-setion-one {
    position: relative;
  }

  .copywrite {
    display: block;
    /* code from https://stackoverflow.com/questions/1776915/how-can-i-center-an-absolutely-positioned-element-in-a-div */
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

/*           Contact Page                   */

.contact-section {
  background-image: url("https://cdn.pixabay.com/photo/2017/08/10/01/44/concert-2616946_1280.jpg");
  background-size: cover;
  background-position: center;
  height: 1000px;
}

.contact-form-container {
  height: 100%;
  position: relative;
}

.contact-form-title {
  padding-top: 75px;
  color: white;
}

.enquiry-form {
  color: #fff;
  background-color: rgba(60, 60, 60, 0.6);
  margin: 50px auto;
  padding: 30px;
  max-width: 600px;
}

.textarea,
.text-input {
  background: transparent;
  color: #fafafa;
  width: 100%;
  margin: 5px 0 20px 0;
  border: 1px solid #fafafa;
  border-radius: 2px;
}

.text-input {
  height: 40px;
}

textarea,
input::placeholder {
  color: #fafafa;
  font-size: 1rem;
}

.textarea:hover,
.text-input:hover {
  border-color: #f16c6b;
}

.submit-button {
  border-radius: 2px;
  text-align: center;
  color: #fafafa;
  position: relative;
  display: block;
  margin: 0 auto;

}

@media screen and (min-width: 768px) {

  .form-inline input,
  .form-inline select {
    width: 47%;
  }

  .margin-left {
    margin-left: 25px;
  }

}

@media screen and (min-width: 1225px) {


  .contact-form-title {
    position: absolute;
    left: 13%;
    padding-top: 80px;
  }


  .enquiry-form {
    margin-top: 150px;
    color: #fff;
    max-width: 800px;
    position: absolute;
    left: 10%;
    padding: 30px;
  }

}

/* model contact forms */

.modal-enquiry-form {
  background-color: rgb(60, 60, 60);
}

/* Evemts page */

.event {
  background-color: #96999a;
  width: 100%;
  color: black;

}

.event-header {
  padding: 100px 0;
}

.disabled {
  pointer-events: none;
  width: 100px;
}


.event-grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10;
  width: 95%;
}

.event-links,
.event-details {
  text-align: center;
  padding: 0px 20px 50px;
}

.event-details {
  padding-top: 10px;
}

.event-links button {
  height: 60px;
  width: 150px;
  margin: 0 5px;
  font-size: 1.2rem;
  font-family: 'Lora', sans-serif;
}

.event-year {
  text-align: center;
  padding: 20px;
}


#events-year-2022,
#events-year-2021 {
  grid-column: 1/3;
}

@media screen and (min-width: 700px) {

  .event-grid-container {
    display: grid;
    grid-template-columns: 30% 35% 35%;
    grid-template-rows: 7;
    width: 90%
  }

  #events-year-2022 {
    grid-column: 1;
    grid-row: 3/8;
  }

  #events-year-2021 {
    grid-column: 1;
    grid-row: 1 / 3;
  }

  .event-links,
  .event-details {
    text-align: left;
  }

  .event-details {
    padding-top: 0px;
  }

  .event-year {
    text-align: right;
    padding: 0 10px;
  }

}

/*                media page */

.slide-container {
  height: 200px;
  width: 400px;
  margin: 10px 100px;
}

.slider {
  width: 50%;
  margin: 100px auto;
}

.slick-slide img {
  width: 100%;
}

.slick-slide {
  margin: 20px 20px;
}

.slick-prev:before,
.slick-next:before {
  color: white;

}

.slick-prev,
.slick-next {
  width: 2.5rem;
  height: 2.5rem;
  z-index: 2;
}

.slick-prev {
  margin-left: 25px;
}

.slick-next {
  margin-right: 25px;
}

.main-video-container {
  width: 98%;
  margin: 0 auto;
}

.play-btn {
  padding-left: 20px;
  color: white;
  font-size: 200px;
}

.music-player {
  width: 100%;
}

#showreel,
#showreel-audio {
  width: 70%;
  height: 100%;
}

.video-section {
  background: lightgray;
  padding-bottom: 25px;
}

#slick {
  background-color: lightgrey;
}

/*               Setlist page */


.setlist-container {
  width: 95%;
  margin: 20px auto;
}

.song-list-table table {
  margin: 20px auto;
  width: 100%;
  border-collapse: collapse;
}

.song-list-table tr:nth-child(odd) {
  background: grey;
  color: white;
}

.song-list-table thead tr td {
  font-weight: 700;
  padding: 5px 0;
  background: white;
  color: black;
}

.song-list-table td {
  border: 1px solid black;
}

.table-1 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.table-2 {
  margin-top: 0;
  padding-top: 0;
}

/* song request */

request-container {
  padding-bottom: 30px;
}

.display-none,
.display-none-lg {
  display: none;
}

#first-dance-request-form {
  width: 40%;
}


.setlist-title {
  padding-top: 20px;
}


.setlist-title {
  padding-bottom: 50px;
}

@media screen and (min-width: 1225px) {

  .display-none,
  .display-none-lg {
    display: block;
  }


  .request-form-container {
    display: flex;
    margin: 10px auto;
  }

  .request-form-container p {
    width: 50%;
    padding: 10px 50px;
  }

  #first-dance-request-form {

    width: 50%;
    margin-right: 50px;
  }

  .display-none-sm {
    display: none;
  }

  .song-list-table {
    display: flex;
  }

  .song-list-table table {
    width: 40%;

  }
}